<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ReadingTypes" type="System.Configuration.NameValueSectionHandler" />
		<section name="ValuesRange" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<appSettings>
		<add key="API_URL" value="https://remoteanalyticsapi.azurewebsites.net/api/Device/receivePing" />
		<add key="SEND_DEVICE_READINGS" value="https://remoteanalyticsapi.azurewebsites.net/api/DeviceReading/AddDeviceReading"/>
		<add key="DEVICE_ID" value="7" />
		<add key="SECONDS" value="30" />
		<add key="MIN_READ_VALUE" value="10 5 2"/>
		<add key="MAX_READ_VALUE" value="100 120 20"/>
	</appSettings>

	<ReadingTypes>
		<add key="Temperature" value="10" />
		<add key="Pressure" value="50" />
	</ReadingTypes>

	<ValuesRange>
		<add key ="Temperature" value ="35 70"/>
		<add key ="Pressure" value ="50 120"/>
	</ValuesRange>

</configuration>